{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "printWidth": 42069,
        "tabWidth": 4,
        "useTabs": true,
        "semi": false,
        "singleQuote": true,
        "bracketSameLine": false,
        "jsxSingleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "singleAttributePerLine": false
      }
    }
  ]
}
