.hero {
  margin-top: 5%;
  padding: 4rem;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(315deg, var(--color-surface-dark) 0%, var(--color-base-dark)  100%);
}

.hero-header {
  display: flex;
  flex-direction: column;
}

.hero__buttons {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: var(--space-medium);
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero h1 {
  color: var(--color-green);
  font-size: var(--font-size-x-large);
}

.carousel {
  position: relative;
  width: min(100%, 64em);
  margin: 4rem;
}

.carousel-cell {
  border-radius: 1rem;
  /* overflow: hidden; */
}

.carousel img {
  height: auto;
  width: 100%;
  max-width: 100%;
}


@media(max-width: 64em) {
  .hero {
    flex-direction: column;
    text-align: center;
    place-items: center;
  }
  .hero__buttons{
    flex-wrap: wrap;
  }
}

@media(max-width: 32em) {
  .hero {
    height: 100%;
  }
}