.nav {
z-index: 1;
  position: sticky;
  top: 10%;
  width: 100%;

  padding-left: 4rem;
  padding-right: 4rem;

  background-color: transparent;

  /* background-color: var(--color-surface-dark); */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input {
  border: none;
  color: var(--color-text-dark);
  background-color: var(--color-base-dark);
  border-radius: 0.4em;
  padding: 0.5em;
  width: 30%;
}

input:focus {
  border: none;
  outline: 2px solid var(--color-blue);
}

@media(max-width: 32em) {
  .nav {
  padding-left: 1rem;
  padding-right: 1rem;
  }
}
