.notification {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 5%;
  top:  0;
  left:  0;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: medium;

  color: var(--color-text);
  background: var(--color-blue);
  text-decoration: none;
  transition: background var(--transition), color var(--transition);
}

@media(hover: hover) {
  .notification:hover {
    background: var(--color-teal);
    color: var(--color-base-dark);
  }
}

@media(max-width: 32em) {
  .notification {
    height: 10%;
  }
}