.notification a {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 2rem;
  width: 100%;
  color: var(--color-base-dark);
  background: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  text-decoration: none;
  transition:
    background var(--transition),
    color var(--transition);
}

@media (hover: hover) {
  .notification a:hover {
    background: var(--color-teal);
    color: var(--color-base-dark);
  }
}
