:root {
  --color-black: #232634;
  --color-text: #c6d0f5;
  --color-green: #a6d189;
  --color-blue: #8caaee;
  --color-sky: #99d1db;
  --color-teal: #81c8be;

  --color-subtext: #a5adce;
  --color-subtext2: #949cbb;

  --color-base: #eff1f5;
  --color-base-dark: #303446;

  --color-overlay: #9ca0b0;
  --color-overlay-dark: #737994;

  --color-surface: #ccd0da;
  --color-surface-dark: #414559;
  --color-surface-dark2: #626880;

  --font-family:
    "Cascadia Code", Menlo, Monaco, Consolas, "Courier New", monospace;
  --font-size: clamp(0.625rem, 1.25vw, 1rem);
  --font-size-small: 80%;
  --font-size-medium: 125%;
  --font-size-large: 200%;
  --font-size-x-large: 400%;

  --line-height: 1.4;

  --space-small: 0.5em;
  --space-medium: 1em;
  --space-large: 2em;
  --space-x-large: 3em;
  --space-xx-large: 4em;
  --space-xxx-large: 5em;
  --space-xxxx-large: 6em;

  --transition: 0.15s cubic-bezier(0.33, 1, 0.68, 1);
}

* {
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
  /* background: var(--color-base-dark); */
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--color-text);
  background: linear-gradient(
    315deg,
    var(--color-surface-dark) 0%,
    var(--color-base-dark) 100%
  );

  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: 300;
}

main {
  width: 100%;
}

a {
  color: var(--color-sky);
  font-weight: 700;
  text-decoration-thickness: 0.0875em;
  text-underline-offset: 0.125em;
  transition: color var(--transition);
}

@media (hover: hover) {
  a:hover {
    color: var(--color-white);
  }
}

@media (min-width: 64em) {
  html {
    scroll-padding-top: 4em;
  }
}

img,
source,
video {
  height: auto;
  max-width: 100%;
  width: 100%;
}
