
/* * { box-sizing: border-box; } */

.carousel {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  margin-inline: auto;
  margin-top: 3em;
  position: relative;
  width: min(100%, 80em);
  border-radius: 1rem;
}

.carousel-cell {
  border-radius: 1rem;
  overflow: hidden;
}

