---
import Hero from '../components/Hero.astro';
import Icons from '../components/Icons.astro';
import Programs from '../components/Programs.astro';
import Themes from '../components/Themes.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="pb-16">
		<Hero />
		<Programs />
		<Icons />
		<Themes />
	</main>
</Layout>
