:root {
    --color-pink: #ea76cb;
    --color-purple: #8839ef;
    --color-red: #d20f39;
    --color-orange: #fe640b;
    --color-yellow: #df8e1d;
    --color-green: #40a02b;
    --color-cyna: #04a5e5;
    --color-blue: #1e66f5;

    --color-text: #4c4f69;
    --color-subtext: #6c6f85;
    --color-overlay: #9ca0b0;
    --color-surface: #ccd0da;
    --color-base: #eff1f5;
}

.dark {
    --color-pink: #ea76cb;
    --color-purple: #8839ef;
    --color-red: #d20f39;
    --color-orange: #fe640b;
    --color-yellow: #df8e1d;
    --color-green: #40a02b;
    --color-cyna: #04a5e5;
    --color-blue: #1e66f5;

    --color-text: #4c4f69;
    --color-subtext: #6c6f85;
    --color-overlay: #9ca0b0;
    --color-surface: #ccd0da;
    --color-base: #eff1f5;
}