:root {
    --color-pink: #ea76cb;
    --color-purple: #8839ef;
    --color-red: #d20f39;
    --color-orange: #fe640b;
    --color-yellow: #df8e1d;
    --color-green: #40a02b;
    --color-cyna: #04a5e5;
    --color-blue: #1e66f5;

    --color-text: #4c4f69;
    --color-subtext: #6c6f85;
    --color-overlay: #9ca0b0;
    --color-surface: #ccd0da;
    --color-base: #eff1f5;
}

.dark {
    --color-pink: #ea76cb;
    --color-purple: #8839ef;
    --color-red: #d20f39;
    --color-orange: #fe640b;
    --color-yellow: #df8e1d;
    --color-green: #40a02b;
    --color-cyna: #04a5e5;
    --color-blue: #1e66f5;

    --color-text: #4c4f69;
    --color-subtext: #6c6f85;
    --color-overlay: #9ca0b0;
    --color-surface: #ccd0da;
    --color-base: #eff1f5;
}
/* 

[colors]
[colors.primary]
background = '#111c18'
foreground = '#C1C497'

[colors.normal]
black   = "#23372B"
red     = "#FF5345"
green   = "#549e6a"
yellow  = "#459451"
blue    = "#509475"
magenta = "#D2689C"
cyan    = "#2DD5B7"
white   = "#F6F5DD"

[colors.bright]
black   = "#53685B"
red     = "#db9f9c"
green   = "#63b07a"
yellow  = "#E5C736"
blue    = "#ACD4CF"
magenta = "#75bbb3"
cyan    = "#8CD3CB"
white   = "#9eebb3"

[colors.cursor]
text   = "#000000"
cursor = "#D7C995"



@define-color selected-text #e1b55e;
@define-color text #ebfff2;
@define-color base #11221C;
@define-color border #214237;
@define-color foreground #11221C;
@define-color background #11221C; */

/* 
# primary
background = #111c18
foreground = #C1C497
cursor-color = #D7C995
cursor-text = #000000

# normal colors
palette = 0=#23372B
palette = 1=#FF5345
palette = 2=#549e6a
palette = 3=#459451
palette = 4=#509475
palette = 5=#D2689C
palette = 6=#2DD5B7
palette = 7=#F6F5DD

# bright colors
palette = 8=#53685B
palette = 9=#db9f9c
palette = 10=#63b07a
palette = 11=#E5C736
palette = 12=#ACD4CF
palette = 13=#75bbb3
palette = 14=#8CD3CB
palette = 15=#9eebb3 */