---

---

<a id='banner' class='z-1 flex h-10 w-full items-center justify-center bg-(--color-blue) p-4 text-center transition duration-300 hover:bg-(--color-green) max-[400px]:h-15' target='_blank' href='https://github.com/linuxthemes/base'><p>Themes is in <em>Beta</em> ! Click <em>here</em> to Contribute !</p></a>
