---
import { iconData } from '../data';
---

<h2 class='w-full p-4 text-center text-2xl'>Available .icon Packages</h2>
<ul class='w-full p-4 flex flex-col items-center gap-4'>
	{
		iconData.map(icon => {
			return (
				<li class='p-4 w-15/16 xl:w-19/32 flex flex-row justify-between rounded bg-(--color-surface) shadow-xl'>
					{icon.id}
					<div>
						<a href={icon.link} class='hover:text-(--color-green)'>
							Preview
						</a>
						|
						<a href={icon.link} class='hover:text-(--color-green)'>
							Package Details
						</a>
					</div>
				</li>
			);
		})
	}
</ul>
