---
---
<section>
    
        <!-- icons -->
        <h2 class="mt-16 lg:mt-48 xl:mt-0 text-2xl text-(--color-text) w-full text-center">Available .icon Packages</h2>
        <ul class="m-16  flex flex-col items-center gap-4">
            <li class="flex flex-row justify-between  p-4 w-3/4 bg-(--color-surface) rounded">
                win10x
                <div><a href="">Preview</a> | <a href="">Package Details</a></div>
            </li>
            <li class="flex flex-row justify-between  p-4 w-3/4 bg-(--color-surface) rounded">
                winsur
                <div><a href="">Preview</a> | <a href="">Package Details</a></div>
            </li>
            <li class="flex flex-row justify-between  p-4 w-3/4 bg-(--color-surface) rounded">
                win11x
                <div><a href="">Preview</a> | <a href="">Package Details</a></div>
            </li>
            <li class="flex flex-row justify-between  p-4 w-3/4 bg-(--color-surface) rounded">
                morewaita
                <div><a href="">Preview</a> | <a href="">Package Details</a></div>
            </li>
        </ul>

</section>