---
import { iconData } from '../data';
---

<section class='text-(--color-text)'>
	<h2 class='mt-16 w-full text-center text-2xl lg:mt-48 xl:mt-0'>Available .icon Packages</h2>
	<ul class='m-16 flex flex-col items-center gap-4'>
		{
			iconData.map(icon => {
				return (
					<li class='flex w-[55%] flex-row justify-between rounded bg-(--color-surface) p-4 shadow-xl'>
						{icon.id}
						<div>
							<a href='' class='hover:text-(--color-green)'>
								Preview
							</a>
							|
							<a href='' class='hover:text-(--color-green)'>
								Package Details
							</a>
						</div>
					</li>
				);
			})
		}
	</ul>
</section>
