---

---

<script src='https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1' type='module'></script>

<script>
	const colorThemeMap = {
		base: {
			dark: 'min-dark',
			light: 'min-light',
		},
		nord: {
			dark: 'nord',
			light: 'one-light',
		},
		dracula: {
			dark: 'dracula',
			light: 'rose-pine-dawn',
		},
		tokoyo: {
			dark: 'tokoyo-night',
			light: 'min-light',
		},
		github: {
			dark: 'github-dark',
			light: 'github-light',
		},
		catppuccin: {
			dark: 'catppuccin-matte',
			light: 'catppuccin-latte',
		},
	}

	type ThemeKeys = keyof typeof colorThemeMap
	type ModeKey = 'dark' | 'light'

	let themeKey: ThemeKeys = (Object.keys(colorThemeMap) as ThemeKeys[])[Math.floor(Math.random() * (Object.keys(colorThemeMap) as ThemeKeys[]).length)]
	let modeKey: ModeKey = 'light'

	;(document.getElementById('theme-button') as HTMLButtonElement).textContent = themeKey.charAt(0).toUpperCase() + themeKey.slice(1)
	document.getElementById('theme')?.setAttribute('href', `/styles/${themeKey}.css`)

	function setMode(mode: ModeKey) {
		if (mode === 'dark') {
			modeKey = 'dark'
			document.documentElement.classList.add('dark')
		}
		if (mode === 'light') {
			modeKey = 'light'
			document.documentElement.classList.remove('dark')
		}
		document.documentElement.setAttribute('data-theme', colorThemeMap[themeKey][mode])
	}

	function getPreferredMode() {
		if (window.matchMedia) {
			if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
				return 'dark'
			} else {
				return 'light'
			}
		}
		return 'light'
	}

	setMode(getPreferredMode())
	if (window.matchMedia) {
		var colorSchemeQuery = window.matchMedia('(prefers-color-scheme: dark)')
		colorSchemeQuery.addEventListener('change', () => {
			setMode(getPreferredMode())
		})
	}

	document.getElementById('mode-toggle')?.addEventListener('click', () => {
		if (document.documentElement.classList.contains('dark')) {
			setMode('light')
		} else {
			setMode('dark')
		}
	})

	const themeOptions = new Set(['base', 'nord', 'dracula', 'tokoyo', 'github', 'catppuccin'])

	document.querySelectorAll('#theme-option').forEach(element => {
		element.addEventListener('click', () => {
			const selectedTheme = element.textContent.toLowerCase()
			if (selectedTheme && themeOptions.has(selectedTheme)) {
				themeKey = selectedTheme as ThemeKeys
			}
			;(document.getElementById('theme-button') as HTMLButtonElement).textContent = element.textContent
			document.getElementById('theme')?.setAttribute('href', `/styles/${element.textContent.toLowerCase()}.css`)
		})
	})

	window.addEventListener('scroll', () => {
		const navbar = document.getElementById('navbar')
		const search = document.getElementById('search-container')
		const searchInput = document.getElementById('search') as HTMLInputElement

		if (window.scrollY > 50) {
			if (!document.querySelector('filepreview')) {
				search?.classList.remove('hidden')
			}
			navbar?.classList.add('shadow-xl')
			navbar?.classList.add('bg-(--color-base)')
		} else {
			search?.classList.add('hidden') 
            // searchInput.value = "" // "input" action not detected
			navbar?.classList.remove('bg-(--color-base)')
		}
	})
</script>

<nav id='navbar' class='sticky top-10 z-1000 flex justify-between rounded-b-md p-2 pr-4 pl-4 text-(--color-text)'>
	<div class='flex flex-row place-items-center'>
		<a href='/' class='flex items-center rounded-md p-2 shadow-xl'><img class='h-6 w-6' src='/linuxthemes.png' /></a>
		<a href='/' tabindex='-1' class='flex place-items-center rounded-md p-2'>Themes</a>
	</div>

	<div class='mx-auto max-w-sm hidden max-[600px]:hidden max-[600px]:w-30' id="search-container">
		<form>
			<label class='relative block'>
				<span class='absolute inset-y-0 left-0 flex items-center pl-2'>
					<svg class='h-5 w-5 fill-gray-300' viewBox='0 0 20 20'><path fill-rule='evenodd' d='M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z' clip-rule='evenodd'></path></svg>
				</span>
				<span class='sr-only'>Search</span>
				<input id="search" class='block w-full rounded-md border border-gray-300 py-2 pr-3 pl-9 text-gray-700 shadow-sm placeholder:text-gray-400 placeholder:italic focus:border-sky-500 focus:outline focus:outline-sky-500 sm:text-sm dark:border-gray-600 dark:text-white' placeholder='Search Themes   ' name='search' />
			</label>
		</form>
	</div>

	<section class='flex flex-row items-center justify-center gap-2'>
		<el-dropdown class='inline-block'>
			<button autofocus class='inline-flex w-full justify-center gap-x-1 rounded-md border bg-(--color-base) px-1.5 py-1 text-sm font-semibold text-(--color-text) shadow-xl hover:bg-(--color-crust)'>
				<p id='theme-button'></p>
				<svg viewBox='0 0 20 20' fill='currentColor' data-slot='icon' aria-hidden='true' class='-mr-1 size-5 text-gray-400'><path d='M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z' clip-rule='evenodd' fill-rule='evenodd'></path></svg>
			</button>

			<el-menu anchor='bottom end' popover class='w-56 origin-top-right rounded-md bg-(--color-base) shadow-xl outline-1 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in'>
				<div class='py-1'>
					<a id='theme-option' href='#' class='block px-4 py-2 text-sm text-(--color-text) focus:bg-(--color-overlay)'>Base</a>
					<a id='theme-option' href='#' class='block px-4 py-2 text-sm text-(--color-text) focus:bg-(--color-overlay)'>Nord</a>
					<a id='theme-option' href='#' class='block px-4 py-2 text-sm text-(--color-text) focus:bg-(--color-overlay)'>Dracula</a>
					<a id='theme-option' href='#' class='block px-4 py-2 text-sm text-(--color-text) focus:bg-(--color-overlay)'>Tokoyo</a>
					<a id='theme-option' href='#' class='block px-4 py-2 text-sm text-(--color-text) focus:bg-(--color-overlay)'>GitHub</a>
					<a id='theme-option' href='#' class='block px-4 py-2 text-sm text-(--color-text) focus:bg-(--color-overlay)'>Catppuccin</a>
				</div>
			</el-menu>
		</el-dropdown>

		<button id='mode-toggle' class='inline-flex items-center rounded-md border p-1.5 shadow-xl transition-colors dark:hover:bg-(--color-crust) [&_svg]:text-(--color-text) [&_svg]:dark:hover:text-(--color-text)' aria-label='Toggle theme'>
			<span class='sr-only'>Toggle theme</span>
			<svg id='moon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor' class='size-4 dark:hidden'><path d='M14.438 10.148c.19-.425-.321-.787-.748-.601A5.5 5.5 0 0 1 6.453 2.31c.186-.427-.176-.938-.6-.748a6.501 6.501 0 1 0 8.585 8.586Z'></path></svg>
			<svg id='sun' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor' class='hidden size-4 dark:block'><path d='M8 1a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 8 1ZM10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM12.95 4.11a.75.75 0 1 0-1.06-1.06l-1.062 1.06a.75.75 0 0 0 1.061 1.062l1.06-1.061ZM15 8a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 15 8ZM11.89 12.95a.75.75 0 0 0 1.06-1.06l-1.06-1.062a.75.75 0 0 0-1.062 1.061l1.061 1.06ZM8 12a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 8 12ZM5.172 11.89a.75.75 0 0 0-1.061-1.062L3.05 11.89a.75.75 0 1 0 1.06 1.06l1.06-1.06ZM4 8a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 4 8ZM4.11 5.172A.75.75 0 0 0 5.173 4.11L4.11 3.05a.75.75 0 1 0-1.06 1.06l1.06 1.06Z'></path></svg>
		</button>
	</section>
</nav>
