---
---

        <!-- cards -->
        <h2 class="mt-16 lg:mt-48 xl:mt-0 text-2xl text-(--color-text) w-full text-center">Supported Programs</h2>
        <div id="cardsContainer" class="pb-16 flex flex-wrap justify-center mt-10"></div>




<!-- cards -->
<script>
    const cardsContainer = document.getElementById('cardsContainer');
    programData.forEach(card => 
    {
        const innerHTML = `
<card class="p-4 max-w-sm">
    <div class="flex rounded-lg h-full transition duration-300 bg-(--color-surface) text-(--color-text) p-8 flex-col">
        <div class="flex items-center mb-3">
            <img class="w-[32px] h-[32px]" src="${card.icon}"" />
            <h2 class="pl-2 text-lg font-medium">${card.title}</h2>
        </div>

        <div class="flex flex-col justify-between flex-grow">
            <p class="leading-relaxed text-(--color-subtext)">${card.description}</p>
            <a href="${card.link}" class="mt-3 text-(--color-text) hover:text-(--color-green) inline-flex items-center">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24"> <path d="M5 12h14M12 5l7 7-7 7"></path> </svg>
            </a>
        </div>
    </div>
</card>
`;
        cardsContainer.insertAdjacentHTML('beforeend', innerHTML);
    });

    const searchInput = document.getElementById('search');
    searchInput.addEventListener('input', () => 
    {
        const filter = searchInput.value.toLowerCase();
        const cards = cardsContainer.getElementsByTagName('card');

        Array.from(cards).forEach(card => 
        {
            const text = card.textContent.toLowerCase();
            if (text.includes(filter)) 
            {
                card.classList.remove('hidden');
            }
            else 
            {
                card.classList.add('hidden');
            }
        });
    });
</script>
