---
---
<section class="text-(--color-text) pb-32">
	<h2 class='mt-16 w-full text-center text-2xl text-(--color-text) lg:mt-48 xl:mt-0'>Available Window .themes</h2>
	<ul class='m-4 mt-16 flex flex-col items-center gap-4'>
		<li class='shadow-xl flex w-[60%] flex-row justify-between rounded bg-(--color-surface) p-4'>
			border
			<div><a href='' class="hover:text-(--color-green)">Preview</a> | <a href='' class="hover:text-(--color-green)">Package Details</a></div>
		</li>
		<li class='shadow-xl flex w-[60%] flex-row justify-between rounded bg-(--color-surface) p-4'>
			flex
			<div><a href='' class="hover:text-(--color-green)">Preview</a> | <a href='' class="hover:text-(--color-green)">Package Details</a></div>
		</li>
		<li class='shadow-xl flex w-[60%] flex-row justify-between rounded bg-(--color-surface) p-4'>
			city
			<div><a href='' class="hover:text-(--color-green)">Preview</a> | <a href='' class="hover:text-(--color-green)">Package Details</a></div>
		</li>
		<li class='shadow-xl flex w-[60%] flex-row justify-between rounded bg-(--color-surface) p-4'>
			adwaita
			<div><a href='' class="hover:text-(--color-green)">Preview</a> | <a href='' class="hover:text-(--color-green)">Package Details</a></div>
		</li>
	</ul>
</section>
