---
---
<section>

        <!-- themes -->
        <h2 class="mt-16 lg:mt-48 xl:mt-0 text-2xl text-(--color-text) w-full text-center">Available Window .themes</h2>
        <ul class="m-4 mt-16 flex flex-col items-center gap-4">
            <li class="flex flex-row justify-between  p-4 w-3/4 bg-(--color-surface) rounded">
                border
                <div><a href="">Preview</a> | <a href="">Package Details</a></div>
            </li>
            <li class="flex flex-row justify-between  p-4 w-3/4 bg-(--color-surface) rounded">
                flex
                <div><a href="">Preview</a> | <a href="">Package Details</a></div>
            </li>
            <li class="flex flex-row justify-between  p-4 w-3/4 bg-(--color-surface) rounded">
                city
                <div><a href="">Preview</a> | <a href="">Package Details</a></div>
            </li>
            <li class="flex flex-row justify-between  p-4 w-3/4 bg-(--color-surface) rounded">
                adwaita
                <div><a href="">Preview</a> | <a href="">Package Details</a></div>
            </li>
        </ul>

</section>