---
import '../styles/global.css'
import Navbar from '../components/Navbar.astro'
import Banner from '../components/Banner.astro'
---

<!doctype html>
<html lang='en'>
	<head>
		<link rel='stylesheet' href='https://unpkg.com/flickity@2/dist/flickity.min.css' />
		<script src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js'></script>

		<title>Linux Themes</title>

		<link rel='icon' type='image/svg+xml' href='/favicon.ico' />
		<meta name='generator' content={Astro.generator} />

		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<!-- <meta name="viewport" content="initial-scale=1, width=device-width" /> -->
		<meta name='description' content='Turn a fresh Linux installation into a fully-configured, beautiful, and modern system by running a single command.' />

		<meta property='og:site_name' content='Linux Themes' />
		<meta property='og:title' content='Linux Themes' />
		<meta property='og:description' content='Turn a fresh Linux installation into a fully-configured, beautiful, and modern system by running a single command.' />
		<!-- <meta property="og:image" content="https://linuxthemes.org/assets/opengraph.png"> -->
		<!-- <meta property="og:url" content="https://linuxthemes.org"> -->
		<meta property='og:type' content='website' />

		<meta name='twitter:title' content='Linux Themes' />
		<meta name='twitter:description' content='Turn a fresh Linux installation into a fully-configured, beautiful, and modern system by running a single command.' />
		<!-- <meta name="twitter:image" content="https://linuxthemes.org/assets/opengraph.png"> -->
		<meta name='twitter:image:alt' content='Linux Themes' />
		<meta name='twitter:card' content='summary_large_image' />

		<link rel='icon' href='assets/linuxthemes.png' />

		<!-- theme sheet -->
		<link id='theme' rel='stylesheet' href='/src/themes/base.css' />

		<script src='https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1' type='module'></script>
	</head>

	<Banner />
	<Navbar />

	<body class='bg-(--color-base) font-semibold'>
		<slot />
	</body>
</html>
